.root {
    -fx-background-color: #1E1E1E;
    -fx-font-family: "Microsoft YaHei", sans-serif, "Noto Sans SC CJK";
}

.menu-home-button {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #ABABAB;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
}

.menu-terminal-button {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #ABABAB;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
}

.menu-plugins-button {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #ABABAB;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
}

.menu-settings-button {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #ABABAB;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
}

.menu-about-button {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #ABABAB;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
}

.home-page {
    -fx-padding: 20;
    -fx-border-color: #6B6B6B;
    -fx-background-color: #4F4F4F;
    -fx-border-width: 0;
}

.terminal-page {
    -fx-padding: 20;
    -fx-border-color: #6B6B6B;
    -fx-background-color: #6E6E6E;
    -fx-border-width: 10;
    -fx-text-fill: #FFFFFF;
}

.plugins-page {
    -fx-padding: 20;
    -fx-border-color: #6B6B6B;
    -fx-background-color: #6E6E6E;
    -fx-border-width: 10;
}

.settings-page {
    -fx-padding: 20;
    -fx-border-color: #6B6B6B;
    -fx-background-color: #6E6E6E;
    -fx-border-width: 10;
}

.about-window {
    -fx-background-color: #6E6E6E;
    -fx-border-color: #6B6B6B;
    -fx-border-width: 10;
}

.terminal-area {
    -fx-background-color: #6A6A6A;
}

.window-bar {
    -fx-pref-height: 40;
}

.title-label {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1F1F1F;
}

.maximize-window-button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1F1F1F;
}

.minimize-window-button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1F1F1F;
}

.close-button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1F1F1F;
}

.title-text {
    -fx-text-fill: #FFFFFF;
}

.terminal-output-area {
    -fx-pref-width: 200;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-pref-height: 200;
    -fx-text-fill: #007800;
    -fx-font-family: 'Consolas', monospace;
}

.send-command-button {
    -fx-pref-height: 30;
    -fx-pref-width: 50;
}

.send-button {
    -fx-pref-height: 30;
    -fx-pref-width: 50;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
}

.clear-button {
    -fx-pref-height: 30;
    -fx-pref-width: 70;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
}

.clear-button:hover {
    -fx-background-color: #3e3e3e
}

.send-button:hover {
    -fx-background-color: #3e3e3e
}

.input-field {
    -fx-pref-height: 30;
    -fx-pref-width: 600;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
}

.delete-plugin-button {
    -fx-pref-height: 30;
    -fx-pref-width: 70;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
}

.get-new-plugin-button {
    -fx-pref-height: 30;
    -fx-pref-width: 70;
    -fx-background-color: #1E1E1E;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
}